@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400;1,600;1,700&display=swap');


$Poppins: 'Poppins', sans-serif;

// colors

$dark:rgb(29,29,29);
$light:#fff;
$primary: rgb(216, 153, 241);
$bg:rgb(244,244,255);

// spacing

$spacing-md: 16px;
$spacing-lg: 32px;

//border radius
$borderRadius: 12px;

//header height
$headerHeight: 100px;


//This mixin provides a quick way to apply certain styles to elements at certain breakpoints. 

@mixin breakpoint($point) {
    @if $point == md {
        //768px
        @media (min-width: 48em) {
            @content;
        }
    }
}